#log-follow-toggler {
    background-color: #666;
    bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 20px 3px 10px;
    position: fixed;
    right: 0;
    width: auto;
	text-align: right;
	border-radius: 5px 0 0 5px;
	text-align: right;
}

#log-follow-toggler a,
#log-follow-toggler a:visited {
	color: #fff;
	text-decoration: none;
}

#log-follow-toggler a:focus,
#log-follow-toggler a:hover {
	color: #000;
	text-decoration: none;
}


.row-fluid { 

}

.span12 {
}

span {margin:3 0 0 3px; display:inline-block; font-size: 16px;}
p {margin:3 0 0 3px; display:inline-block; }
.inline {display:inline-block;}
.hidden {display:none;}
.green {color:#00ff00;}
.red {color:#ff0000;}
.blue {color:#0000ff;}
.turquoise {color:#00c0ff;}
.white {color:#ffffff;}
.orange {color:#ff8000;}
.disabled {color:#fafafa;}
.enabled {color:#999999;}
.fontsize1 {font-size:16px;}
.fontsize2 {font-size:8px; }
.line {width:100%;}
.but {background:#aaaaaa; color:#ffffff; padding:1px; border-radius:25%;}
.marginleft {margin-left:3px;}
.noborder {border-width:0px;}
.margin {margin:3px;}
.text {border-radius: 5px; border-width:1px; margin:0 0 0 3; border-style: solid; border-color:#e8e8e8;}
.select {margin:0 0 0 3;}
.redcore button {margin-right: 5px;}
.redcore input {margin-right: 5px; }
.redcore select {margin-right: 5px; height:25px; }
.margin-right { margin-right:5px; }
.middle { vertical-align: middle; }



